.homeContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    min-height: 75vh;
    
}

@media (max-width: 950px){
    .homeContainer{
        display: flex;
        flex-direction: column;
    }
}

.recipeNotFoundContainer{
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}
.recipeNotFoundContainer button{
    width: 40%;
    height: 75%;
    background-color: rgba(1, 1, 1, .5);
    box-shadow: 1px 1px 10px white;
    border-radius: 10px;
}
.recipeNotFoundContainer button:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px white;
    cursor: pointer;
}